{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "bowsers": [
                        "last 5 versions",
                        "ie >=8"
                    ]
                }
            }
        ]
    ]
}